#include "resource.h"
#include <windows.h>

IDD_INPUTBOX DIALOGEX 0, 0, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enter Value"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Input:",-1,10,10,180,10
    EDITTEXT        IDC_INPUT,10,30,180,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,45,60,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,105,60,50,14
END
